PORT=4040

# development hoặc production
NODE_ENV=development
BASE_URL=http://localhost:4040

DB_STORAGE=./data/qldt.sqlite

# Sử dụng lệnh bên dưới để generate chuỗi 64 ký tự ngấu nhiên JWT_SECRET and ENCRYPTION_SECRET_KEY
# console.log('JWT_SECRET=' + require('crypto').randomBytes(32).toString('hex'))
JWT_SECRET=
JWT_EXPIRES_IN=1d
ENCRYPTION_SECRET_KEY=

# Cùng đường dẫn với frontend
CORS_ORIGIN=http://localhost:3000